.item {
    color: black;
    text-align: center;
    font-size: 30px;
}

.box1 {
  background-color: red;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: green;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: orange;
}

.box6 {
    background-color: navy;
}

.box7 {
    background-color: purple;
}

.box8 {
    background-color: aqua;
}

.box9 {
    background-color: sandybrown;
}

.box10 {
    background-color: brown;
}