/* 선택자의 종류 */
/* 전체 선택자, 태그 요소 선택자, 아이디 선택자, 클래스 선택자 */

/* 전체 선택자 -> HTML 문서 내에 모든 요소를 의미 */
* {
  color: skyblue;
}

/* 태그 요소 선택자 -> HTML 문서 내 특정 태그를 선택할 때 사용되고 태그 이름을 식별자로 사용 */
h1 {
  color: red;
}

/* 아이디 선택자 -> 해당 아이디를 사용하는 요소를 선택하고 HTML 요소의 아이디 속성으로 지정된 문자 앞에 #을 붙여서 사용 */
/* red라는 id를 가졌다는 것을 가정 */
#green {
  color: green;
}

/*  클래스 선택자 -> 해당 클래스를 사용하는 요소를 선택하며 HTML 요소에 클래스 속성으로 지정된 문자 앞에 .을 붙여서 사용 */
/* blud라는 클래스를 가졋다는 것을 가정 */
.blue {
  color: blue;
}

/* 결합 선택자 */
.first h4 {
  color: blueviolet;
}

.first > h4 {
  color: aquamarine;
}
